/*COLORES */
$primaryColor: #272727;
$background1: linear-gradient(135deg, #0f0f10, #1a1b2b);
$color1: white;
$color2: whitesmoke;
$glass: rgba(255, 255, 255, 0.1);

/*EFECTOS*/
$blurFilter: blur(15px) saturate(150%);
$w11BoxShadow: 0 4px 10px rgba(0, 0, 0, 0.3);

/*buttons*/
$btn1: rgb(93, 75, 255);
   